{%extends 'base_news.html'%}
{%load static%}
{%block content %}
<a href="#" class="bigrek"></a>

<div class="container wrapper">
	<div class="longrek"></div>
	<div class="clearfix"></div>

	<ol class="breadcrumb">
			<li><a href="#">The Main</a></li>
			<li><a href="#">{{new.category.name}}</a></li>
        	<li class="active">{{new.title}}</li>
	</ol>
	<div class="row">

			<div class="col-md-5 col-xs-12">
				<div class="cat_title">About Us</div>
				<div class="con_info">The online edition 1news.uz covers socio-political, socio-economic, cultural, sports life
Uzbekistan and events taking place in the world.</div>
				<ul class="contact">
					<li><i class="fa fa-map-marker"></i> Tashkent, Erkinlik street, building 108</li>
					<li><i class="fa fa-print"></i> 0(371) 215-79-79</li>
					<li><i class="fa fa-mobile"></i> 99897 738-14-14</li>
					<li><i class="fa fa-envelope"></i> info@1news.uz</li>
				</ul>
				<div class="feedback">
					<div class="title">Feedback</div>
					<form action="#" method="POST">
						{%csrf_token%}
						<input type="text" name="name" placeholder="name">
						<input type="text" name="email" placeholder=" email">
						<textarea name="message" id="" cols="30" rows="10"  placeholder="Message"></textarea>
						<button class="btn submit">Send message</button>
					</form>
				</div>
			</div>

			<div class="col-md-7 col-xs-12">
				<div class="con_img">
					<img src="{%static 'frontend/img/contact.jpg'%}" alt="">
				</div>
				<div class="map"></div>
			</div>

	</div>

		<div class="foot_rek">
			<img src="{%static 'frontend/img/foootrek.jpg'%}" alt="">
		</div>
	</div>

{%endblock%}
