{%extends 'base_news.html'%}
{%load static%}
{%block content %}
<a href="#" class="bigrek"></a>
<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>
		
		<ol class="breadcrumb">
			<li><a href="#">The Main</a></li>
			<li><a href="#">{{new.category.name}}</a></li>
        	<li class="active">{{new.title}}</li>
		</ol>
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="view_img"><img src="/media/{{new.image}}" alt=""></div>
				<div class="news_box view">
					<div class="view_title">{{new.title}}</div>
					<span class="date">{{new.created_at}}</span>
					<span class="news_type"><i class="fa fa-pencil"></i> {{new.author.full_name}}</span>
					<div class="view_desc">
					<p>{{new.description}}</p>
						<div class="head_title">Advertising</div>
					<div id="bigfav" class="carousel slide view_slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="{%static 'frontend/img/city.jpg' %}" alt="...">

							</div>
							<div class="item">
								<img src="{%static 'frontend/img/aaaa.jpg' %}" alt="...">

							</div>
							<div class="item">
								<img src="{%static 'frontend/img/min.jpg' %}" alt="...">

							</div>
						</div>
						<div class="control">
						<a class="left carousel-control" href="#bigfav" role="button" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right carousel-control" href="#bigfav" role="button" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
						</div>
					</div>
					<p>Dream City Development компаниясининг пойтахт
						марказида юқори даромад хусусиятларига эга лойиҳалари мавжуд</p>
					<p>Ягона маълумот маркази: +99871 202 22 22

			Сотув офиси ҳар куни, дам олиш кунисиз соат 09:00 дан 19:00 гача ишлайди.

			Манзил: Тошкент шаҳри, Фурқат кўчаси, Тashkent City ХИМ

			Мўлжал: Халқлар дўстлиги майдонидан Алишер Навоий шоҳкўчаси томон йўл

			Сайт: dreamcity.uz

			Telegram: t.me/dreamcityuz

			Facebook: fb.com/dreamcity.uz

			Instagram: @dreamcity.uz</p>

				</div>
				<ul class="tag">
					<li><a href="#">#fashion</a></li>
					<li><a href="#">#news</a></li>
					<li><a href="#">#culture</a></li>
					<li><a href="#">#world</a></li>

				</ul>

				<div class="comment">
					<div class="title">Comments</div>
					<ul>
						{%for author in authors%}
							<li>
							<div class="com_img"><img src="/media/{{author.image}}" alt=""></div>
							<div class="com_info">
								<div class="author">{{author.full_name}}</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
									Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
								<div class="date">{{author.created_at}}</div>
								<hr>
							</div>
							</li>
						{%endfor%}

					</ul>
					<button class="btn add_comment">Add a comment</button>
					<div class="add_info">Interesting and meaningful comments on the topic of the material are welcome.</div>
				</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="head_title">Latest news</div>
				<div id="listnews" class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<ul class="list_news">
									{%for fresh in fresh_news%}
										<li>

										<div class="list_img"><img src=" /media/{{fresh.image}}" alt=""></div>
										<a href="#">{{fresh.title}}</a>
										<span class="date">{{ fresh.created_at }}</span>
										<span class="news_type"><i
												class="fa fa-pencil"></i> {{ fresh.category.name }}</span>
										</li>
                                	{%endfor%}

								</ul>
							</div>
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#listnews" data-slide-to="0" class="active"></li>
							<li data-target="#listnews" data-slide-to="1"></li>
						</ol>
					</div>				
				</div>
				
				<div class="subscribe">
		<div class="title">Subscribe to  <b> 1news.uz</b></div>
		<form action="">
			<div class="input-group">
				<input type="text" name="email" placeholder="Email">
				<button class="submit">Sign In</button>
			</div>
		</form>
	</div>
			</div>
		</div>
	</div>
{%endblock%}

	
	
	
